# This is the configuration file for candle data downloader script

[DEFAULT]

# The name of the exchange
exchange_name = kucoin

# Set to True to download data for all trading pairs, otherwise False
all_pairs = True

# If all_pairs = False, specify the trading pairs in comma-separated list of base symbols like BTC,ETH, etc.
# base_symbols = ACM,ADA,ALGO,ATOM,AVAX,BCC,BCH,BNB,DOGE,DOT,EOS,ETC,ETH,FIL,FTM,GALA,ICX,INJ,IOTA,LINK,LTC,MATIC,NEO,ONT,QTUM,SNX,SOL,STX,TRX,UNI,VET,XEM,XLM,XRP,TRX,UNI,VET,XEM,XLM,XRP
base_symbols = FET
# Comma-separated list of quote symbols like USDT,USD, etc.

quote_symbols = USDT

# Comma-separated list of timeframes like 1h, 1d, etc.
timeframes = 1w,1d

# The starting time for fetching the candle data in ISO 8601 format
start_time = 2015-01-01T00:00:00Z

# The ending time for fetching the candle data in ISO 8601 format (Leave empty for None)
end_time =

# Number of records to be fetched in each request
batch_size = 1000

# The directory where the CSV files will be saved
output_directory = ./csv_ohlcv

# The name of the output file (Leave empty for None)
output_file =

# Flag to enable or disable logging (True or False)
enable_logging = False
